<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Basic" thread-count="2" parallel="tests">


    <parameter name="Url" value="http://3.87.50.247:3000/"/>
    <parameter name="browser" value="Chrome"/>
    <parameter name="firstName" value="Jairo"/>
    <parameter name="LastName" value="Lopez"/>
    <parameter name="email" value="test@test.com"/>
    <parameter name="birthday" value="1999-05-10"/>
    <test name="web-automation-java">
        <classes>
            <class name="tests.singinTests">
                <methods>
                    <include name="createAccount"/>
                    <include name="createAccountwithWoman"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>